<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>文献管理系统管理员</title>
    <!-- Le styles -->
    <link rel="stylesheet" href="../source/static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../source/static/bootstrap/css/bootstrap-theme.css" />
    <script src="../source/static/jquery-2.0.3.min.js"></script>
    <script src="../source/static/bootstrap/js/bootstrap.js"></script>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;文献管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../user/getusers"><span class="glyphicon glyphicon-list"></span>&nbsp;用户列表</a></li>
                <li><a href="../docconf/getdocconf"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;文献配置</a></li>
                <li><a href="../comconf/getcomconf"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;评价配置</a></li>
                <li><a href="../refconf/getrefconf"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;引用关系配置</a></li>
                <li><a href="../meeconf/getmeeconf"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;会议名称配置</a></li>
                <li><a href="../tagconf/gettagconf"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;标签配置</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="" data-toggle="modal" data-target="#backupModal"><span class="glyphicon glyphicon-compressed"></span>&nbsp;备份资料</a>
                </li>
                <li>
                    <a href="../account/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;注销</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10" style="background-color:#CCEEFF;">
            <h2 style="background-color:#58D3F7;text-align:center;">
                <hr/>
                引用关系配置
                <hr/>
            </h2>
            <div width="50%">
                <table class="table table-hover table-bordered">
                	<#list relationtypes as relationtype>
                    <tr align="center">
                        <form action="refconf/modRelation" method="POST">
                            <td>
                                <input type="hidden" name="id" value=${relationtype.id}>
                                <input type="text" name="name" class="form-control"value=${relationtype.name}>
                            </td>
                            <td>
                                <input type="submit" class="btn-info btn form-control"value="保存修改">
                            </td>
                        </form>
                        <form action="refconf/delRelation" method="POST">
                            <td>
                                <input type="hidden" name="id" value=${relationtype.id}>
                                <input type="submit" class="btn-info btn form-control" value="删除">
                            </td>
                        </form>
                    </tr>
                    </#list>
                    <tr align="center">
                        <form action="refconf/addRelation" method="POST">
                            <td colspan="2">
                                <input type="text" name="name" class="form-control">
                            </td>
                            <td colspan="1">
                                <input type="submit" class="btn-default btn form-control" value="添加">
                            </td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="backupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">备份资料</h4>
      </div>
      <div class="modal-body">
        <div style="text-align:center;">
            <h3><a href="">数据库备份资料下载</a></h3>
        </div>
        <div style="text-align:center;">
            <h3><a href="">文献附件备份资料下载</a></h3>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消备份</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>