<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>文献管理系统</title>
    <!-- Le styles -->
    <link href="../static/bootstrap/bootstrap/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .right_div{
        float: right;
      }
    </style>
    <link href="../static/bootstrap/bootstrap/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

  </head>
    <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </a>
                <a class="brand" href="">文献管理系统</a>
                <div> 
                  <ul class="nav">
                    <li class="active"><a href=""><strong>用户列表</strong></a></li>
                    <li><a href=""><strong>文献配置</strong></a></li>
                    <li><a href=""><strong>评价配置</strong></a></li>
                    <li><a href=""><strong>引用关系配置</strong></a></li>
                    <li><a href=""><strong>会议名称配置</strong></a></li>
                    <li><a href=""><strong>标签配置</strong></a></li>
                  </ul>
                </div>
                <div class="right_div">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href=""><strong>注销</strong></a></li>
                    <li><a href=""><strong>修改密码</strong></a></li>
                  </ul>
                </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </body>
</html>