<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>文献管理系统管理员</title>
    <!-- Le styles -->
    <link rel="stylesheet" href="../source/static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../source/static/bootstrap/css/bootstrap-theme.css" />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;文献管理系统管理员</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../user/getusers"><span class="glyphicon glyphicon-list"></span>&nbsp;用户列表</a></li>
                <li><a href="../docconf/getdocconf"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;文献配置</a></li>
                <li><a href="../comconf/getcomconf"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;评价配置</a></li>
                <li><a href="../refconf/getrefconf"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;引用关系配置</a></li>
                <li><a href="../meeconf/getmeeconf"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;会议名称配置</a></li>
                <li><a href="../tagconf/gettagconf"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;标签配置</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href=""><span class="glyphicon glyphicon-log-out"></span>&nbsp;注销</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10" style="background-color:#CCEEFF;">
            <h2 style="background-color:#58D3F7;text-align:center;">
                <hr/>
                会议配置列表
                <hr/>
            </h2>
            <div>
                <table class="table table-hover table-bordered">
                    <thead>
                    <td align="center">
                        <h3>会议全称</h3>
                    </td>
                    <td align="center">
                        <h3>会议简称</h3>
                    </td>
                    <td align="center">
                        <h3>操作</h3>
                    </td>
                    </thead>
                    <tr align="center">
                        <form>
                            <td>
                                <p>美国电子和电气工程师协会</p>
                            </td>
                            <td>
                                <p>IEEE</p>
                            </td>
                            <td>
                                <input type="button" class="btn btn-info" name="delete" value="删除">
                            </td>
                        </form>
                    </tr>
                </table>
                <h2 style="background-color:#58D3F7;text-align:center;">
                    <hr/>
                    添加会议简称配置
                    <hr/>
                </h2>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">会议全称</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="username" placeholder="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="studentid" class="col-sm-2 control-label">会议简称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="studentid" placeholder="studentid">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5" align="center">
                            <button type="submit" class="btn btn-info pull-left"><strong>添加</strong></button>
                            <button type="reset" class="btn btn-info pull-right"><strong>重置</strong></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <a class="pull-right" href="#"><span class="glyphicon glyphicon-arrow-up"></span>返回顶部</a>
    </footer>
</div>

</body>
</html>