<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>文献管理系统</title>
    <!-- Le styles -->
      <link href="../source/static/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="../source/static/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .discription{
          padding-left: 20px;
          padding-right: 50px;
      }
      .addition{
          background: #eeeeee;
      }
    </style>
    <script type="text/javascript">
        function select(s){
            if(s==1){
                addition=newAddition();
                divEditor=editDiv("editor-8","编辑");
                divISBN=editDiv("isbn-13","ISBN");
                addition.appendChild(divEditor);
                addition.appendChild(divISBN);
            }
            if(s==2){
                addition=newAddition();
                divBookName=editDiv("bookname","图书名");
                divEditor=editDiv("editor-18","编辑");
                divISBN=editDiv("isbn-14","ISBN");

                addition.appendChild(divBookName);
                addition.appendChild(divEditor);
                addition.appendChild(divISBN);

            }
            if(s==3){
                addition=newAddition();
                divPublication=editDiv("publication-4","出处");
                divVolume=editDiv("volume","卷");
                divIssue=editDiv("issue","期");
                divDOI=editDiv("doi-11","DOI");
                addition.appendChild(divPublication);
                addition.appendChild(divVolume);
                addition.appendChild(divIssue);
                addition.appendChild(divDOI);
            }
            if(s==4){
                addition=newAddition();
                divPublication=editDiv("publication-15","出处");
                divCity=editDiv("city","城市");
                divDOI=editDiv("doi-12","DOI");
                addition.appendChild(divPublication);
                addition.appendChild(divCity);
                addition.appendChild(divDOI);
            }
            if(s==5){
                addition=newAddition();
                divschool=editDiv("school","学校");
                addition.appendChild(divschool);
            }
            if(s==6){
                addition=newAddition();
            }
            if(s==7){
                addition=newAddition();
            }

            function editDiv(english,chinese){
                label=createLabel();
                input=createInput();
                div1=createDiv1();
                div=createDiv();
                label.setAttribute("for",english);
                label.innerText = chinese + " *";
                input.setAttribute("name",english);
                input.setAttribute("placeholder",chinese);
                div1.appendChild(input);
                div.appendChild(label);
                div.appendChild(div1);
                return div;
            }
            function newAddition(){
                var addition=document.getElementsByClassName("addition")[0];
                while(addition.hasChildNodes()){
                    addition.removeChild(addition.firstChild);
                }//删除所有原有节点
                addition.setAttribute("class","discription addition show");//设置可见
                return addition;
            }
            function createDiv(){
                div=document.createElement("div");
                div.className="form-group";
                return div;
            }
            function createDiv1(){
                div1=document.createElement("div");
                div1.className="col-sm-10";
                return div1;
            }
            function createLabel(){
                label=document.createElement("label");
                label.className="col-sm-2 control-label";
                return label;
            }
            function createInput(){
                input=document.createElement("input");
                input.setAttribute("type","text");
                input.setAttribute("class","form-control");
                return input;
            }
        }
    </script>

  </head>
    <body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/user/normal/index"><span class="glyphicon glyphicon-home"></span>&nbsp;文献管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/user/normal/index"><span class="glyphicon glyphicon-list"></span>&nbsp;文献列表</a></li>
            <li class="active"><a href="/doc/normal/addDoc"><span class="glyphicon glyphicon-import"></span>&nbsp;文献录入</a></li>
            <li><a href=""><span class="glyphicon glyphicon-stats"></span>&nbsp;工作记录统计</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a><span class="glyphicon glyphicon-user"></span>&nbsp;${user.name}</a>
            </li>
            <li>
              <a href="/"><span class="glyphicon glyphicon-log-out"></span>&nbsp;注销</a>
            </li>
            <li>
              <a href="/user/normal/updateInfo/${user.id}"><span class="glyphicon glyphicon-edit"></span>&nbsp;修改密码</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


      <div class="container">
        <div class="row">
          <br/>
            <div class="col-xs-1"></div>
            <div class="col-xs-2">
              <img class="pull-left" src="../source/image/logo.jpg" /></div>
            <div class="col-xs-8">

            <form class="well form-search"><br/>
              <div class="input-group"><input type="text" class="form-control" name="keywords">
                <span class="input-group-btn">
                  <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;<strong>搜索文章</strong></button>
                </span>
              </div><!-- /input-group -->
            </form>
            </div>
        </div>

        <div class="row">
		      
          <div class="col-xs-1"></div>
              
          <div class="col-xs-10" style="background-color:#CCEEFF;"><h2 style="background-color:#58D3F7;text-align:center;"><hr/>
            文献录入&nbsp;&nbsp;<small>其中带*为必填</small><hr/></h2>
            <form class="form-horizontal" role="form" method="POST" action="/document/commitupload">
              
              <div class="form-group discription">
                <label for="title" class="col-sm-2 control-label">标题 *</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" placeholder="标题...">
                </div>
              </div>
            
              <div class="form-group discription">
                <label for="author" class="col-sm-2 control-label">作者 *</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="author" placeholder="作者...">
                </div>
              </div>
                  
              <div class="form-group discription">
                <label for="year" class="col-sm-2 control-label">出版年份 *</label>
                <div class="col-sm-10">
                   <input type="text" class="form-control" name="year" placeholder="出版年份...">
                </div>
              </div>
              
              <div class="form-group discription">
                <label for="pages" class="col-sm-2 control-label">页码 *</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="pages" placeholder="页码...">
                </div>
              </div>
              
              <div class="form-group discription">
                <label for="abstracts" class="col-sm-2 control-label">摘要 *</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="abstracts" rows="3" placeholder="摘要..."></textarea>
                </div>
              </div>
              
              <div class="form-group discription">
                <label for="keywords" class="col-sm-2 control-label">关键字 *</label>
                <div class="col-sm-10">
                   <textarea class="form-control" name="keywords" rows="3" placeholder="关键字..."></textarea>
                </div>
              </div>
     
              <div class="form-group discription">
                 <label for="publisher" class="col-sm-2 control-label">出版社 *</label>
                 <div class="col-sm-10">
                   <input type="text" class="form-control" name="publisher" placeholder="出版社...">
                 </div>
              </div>
       
              <div class="form-group discription">
                <label for="url" class="col-sm-2 control-label">在线的网址 *</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="url" placeholder="在线的网址...">
                </div>
              </div>
            
              <div class="form-group discription">
                <label for="type" class="col-sm-2 control-label">文献类型 *</label>
                <div class="col-sm-10">
                  <select name="documentType"class="form-control" onchange="select(this.options[this.options.selectedIndex].value)">
							      <option>请选择文献类型...</option>
                    <option value="1">图书</option>
                    <option value="2">图书章节</option>
                    <option value="3">期刊</option>
                    <option value="4">会议</option>
							      <option value="5">学位论文</option>
							      <option value="6">技术报告</option>
							      <option value="7">在线资源</option>
                  </select>
                </div>
              </div>

              <div class="discription addition"></div>
              
              <div class="row">
                <div class="col-xs-5"></div>
                <div class=" col-xs-7">
                  <button type="button" class="btn btn-default">取消录入文献</button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="submit" class="btn btn-primary">录入文献</button>
                </div>
              </div>
              <br/>
            </form>
          </div>
          </div>
          <footer>
            <a class="pull-right" href="#"><span class="glyphicon glyphicon-arrow-up"></span>返回顶部</a>
          </footer>
        </div>
  </body>
</html>