<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>文献管理系统</title>
    <!-- Le styles -->
    <link href="../source/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../source/static/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <script src="../source/static/jquery-2.0.3.min.js"></script>
    <script src="../source/static/bootstrap/js/bootstrap.js"></script>
    
    <script type="text/javascript" src="../source/static/jquery.raty.min.js"></script>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .bread-nav{
            font-size: 20px;
        }

    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../account/getAllDocuments"><span class="glyphicon glyphicon-home"></span>&nbsp;文献管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="../account/getAllDocuments"><span class="glyphicon glyphicon-list"></span>&nbsp;文献列表</a></li>
            <li><a href="../document/showupload"><span class="glyphicon glyphicon-import"></span>&nbsp;文献录入</a></li>
            <li><a href="../statistic/getstatistic"><span class="glyphicon glyphicon-stats"></span>&nbsp;工作记录统计</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a><span class="glyphicon glyphicon-user"></span>&nbsp;${user.name}</a>
            </li>
            <li>
              <a href="../account/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;注销</a>
            </li>
            <li>
              <a href="../account/showPassword"><span class="glyphicon glyphicon-edit"></span>&nbsp;修改密码</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      </div>

      <div class="container">
        <div class="row">
          <br/>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-2">
              <img class="pull-left" src="../source/image/logo.jpg" />
            </div>
            <div class="col-xs-8">

            <form class="well form-search" method="POST" action="../docsearch/simpledocsearch"><br/>
              <div class="input-group"><input type="text" class="form-control" name="keywords">
                <span class="input-group-btn">
                  <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;<strong>搜索文章</strong></button>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <!-- Button trigger modal -->
                  <button class="btn btn-info" data-toggle="modal" data-target="#docsearchModal"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;&nbsp;<strong>展开高级搜索</strong></button>
                </span>
                </div><!-- /input-group -->
            </form>

            <!-- Modal -->
            <div class="modal fade" id="docsearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">文章高级搜索</h4>
                        </div>

                        <div class="modal-body">
                            <form class="form-horizontal" role="form" method="POST" action="../docsearch/advanceddocsearch">
                                <div class="form-group">
                                    <label for="document" class="col-sm-4 control-label">查找的文献类型</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="documentType">
                                            <option>请选择文献类型...</option>
                    
                                            <#list documentTypes as documentType>         
                                                <option value=${documentType.id}>${documentType.name}</option>
                                            </#list>
                                            
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="document" class="col-sm-4 control-label">文章的标题</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="title">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="other" class="col-sm-4 control-label">文章的作者</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="author">
                                    </div>
                                </div>

                              <div class="form-group">
                                <label for="presentation" class="col-sm-4 control-label">文章的标签信息</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="tag">
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="ppt" class="col-sm-4 control-label">搜索的关键字</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="keywords">
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="poster" class="col-sm-4 control-label">出版社信息</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="publisher">
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="code" class="col-sm-4 control-label">文章发表的时间</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="publishYear">
                                </div>
                              </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消搜索</button>
                                <button type="submit" class="btn btn-primary">搜索文章</button>
                            </div>

                            </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-1">
        </div>
        
        <div class="col-xs-10" style="background-color:#CCEEFF;">
            <br/>
            <div class="bread-nav">
              <ol class="breadcrumb">
                <li><a href="../account/getAllDocuments"><b>文献列表</b></a></li>
                <li class="active">当前文章</li>
            </ol>
        </div>

        <h4>
              <div class="col-xs-8">
                <span class="label label-success ">标题：</span><br/><br/>
                  <strong>${document.title}</strong>
              </div>
              <div class="col-xs-4 pull-right">
              <a href="../document/showmodification?docId=${document.id}" class="btn btn-primary active"><span class="glyphicon glyphicon-edit"></span>&nbsp;
              编辑文献
              </a>
              &nbsp;&nbsp;
              <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-open"></span>&nbsp;
              所有附件
              </button>
            </div>
        </h4>
       
        <div class="col-xs-12">
             <br/>
            <h4><span class="label label-primary">标签</span></h4>

            <div class="well">

                <#list document.tags as tag>
                    <span class="label label-success">${tag.name}</span>
                </#list>

            </div>
        </div>

        <div class="col-xs-12">
            <h4><span class="label label-primary">作者</span></h4>

            <P class="well"><strong>${document.author}</strong></P>
        </div>

        <div class="col-xs-12">
            <h4><span class="label label-primary">平均评分</span></h4>

            <div class="star" data-score="${document.averagePoint}" data-readOnly="true"></div>
        </div>

        <div class="col-xs-12">
            <h4><span class="label label-primary">文献类型</span></h4>

            <p class="col-xs-12 well">${document.documentType.name}</p>
        </div>

        <div class="col-xs-12">
            <h4><span class="label label-primary">摘要</span></h4>

            <p class="col-xs-12 well">${document.abstracts}</P>
        </div>
        <div class="col-xs-12">
            <h4><span class="label label-primary">关键字</span></h4>

            <p class="col-xs-12 well">${document.keywords}</p>
        </div>
        <div class="col-xs-12">
            <h4><span class="label label-primary">页码</span></h4>

            <P class="col-xs-12 well">${document.pages}</p>
        </div>
        <div class="col-xs-12">
            <h4><span class="label label-primary">出版社</span></h4>

            <p class="col-xs-12 well">${document.publisher}</p>
        </div>
        <div class="col-xs-12">
            <h4><span class="label label-primary">在线的网址</span></h4>

            <p class="col-xs-12 well"><a href=${document.url}>${document.url}</a></p>
        </div>
        <div class="col-xs-12">
            <h4><span class="label label-primary">文献引用</span></h4>

            <p class="col-xs-12 well">引用</p>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background:#0174DF;">
                            <h3 class="panel-title">评论</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 well" id="evalContainer">
            <button class="btn" id="extendEvaluationButton">简要评价</button>
            <form method="POST" id="evaluationForm" role="form">
                <input name="documentId" value="${document.id}" hidden="hidden" />
                <input class="volatile" type="text" name="evaluationId" value="${(draftEvaluation.id)!0}" hidden="hidden" id="evalId" />
                <input name="evaluation.type" value="${(draftEvaluation.type)!0}" hidden="hidden" id="evalType"/>
                <div class="star" style="float:right" data-score="${(draftEvaluation.point)!0}" data-readOnly="false"></div>
                <textarea class="form-control" name="evaluation.content" rows="3" placeholder="请输入评论内容...">${(draftEvaluation.content)!""}</textarea>
                <br/>
                <div id="detailEvalContainer">
                  <#list evaluationExtraPropertyWrappers as evaluationExtraPropertyWrapper>
                    <div class="form-group">
                    <div>
                      <input name="evaluationExtraPropertyWrappers[${evaluationExtraPropertyWrapper_index}].extraPropertyId" value="${evaluationExtraPropertyWrapper.extraPropertyId}" hidden="hidden"/>
                      <textarea class="form-control" rows="3" placeholder="${evaluationExtraPropertyWrapper.extraPropertyName}" name="evaluationExtraPropertyWrappers[${evaluationExtraPropertyWrapper_index}].extraPropertyValue">${evaluationExtraPropertyWrapper.extraPropertyValue!''}</textarea>
                    </div>
                    </div>
                  </#list>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-default" id="saveDraftButton">保存为草稿</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary" id="commitEvaluationButton">发布评论</button>
                </div>
            </form>
            <br/>
        </div>
        <div>
            <div class="panel-body" id="commentContainer">

                <#list document.publishedEvaluations as evaluation>

                    <div class="well">
                        <div class="star" data-score="${(evaluation.point)!0}" data-readOnly="true"></div>
                        <p>在${evaluation.formatTime}, <strong>${evaluation.user.name}&nbsp;</strong>说：</p>
                        <p>内容 : ${evaluation.content}</P>
                        <#if (evaluation.extraProperties)??>
                        <#list evaluation.extraProperties as extraProperty >
                        <p>${extraProperty.evaluationExtraProperty.propertyName} : ${extraProperty.propertyValue}</p>
                        </#list>
                        </#if>
                    </div>

                </#list>

            </div>
        </div>
        <script>
            var evalTypeElement = $("#evalType");
            var detailEvalContainer = $("#detailEvalContainer");
            var commentContainer = $("#commentContainer");
            var evaluationForm = $("#evaluationForm");
            var extendEvaluationButton = $("#extendEvaluationButton");

            $("#saveDraftButton").click(function(e) {
                var postData = getFormData(evaluationForm);
                $.ajax(
                        {
                            url: "../json/savedraft",
                            type: "POST",
                            data: postData,
                            success: function (data, textStatus, jqXHR) {
                                $("#evalId").attr("value", data);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert("Fail");
                            }
                        });
                e.preventDefault(); //STOP default action
            });

            $("#commitEvaluationButton").click(function(e) {
                var postData = getFormData(evaluationForm);
                $.ajax(
                        {
                            url: "../evaluation/commiteval",
                            type: "POST",
                            data: postData,
                            success: function (data, textStatus, jqXHR) {
                                $(data).prependTo(commentContainer).show("normal");
                                evaluationForm.find("textarea").val("");
                                evaluationForm.find(".volatile").attr("value", "0");
                                initStartPoint();
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert("Fail");
                            }
                        });
                e.preventDefault(); //STOP default action
            });

            extendEvaluationButton.click(function () {
                var type = evalTypeElement.attr("value") == 0 ? 1 : 0;
                $("#detailEvalContainer").slideToggle("normal", function () {
                    evalTypeElement.attr("value", type);
                });

                var text = $(this).text();
                $(this).text(text == "详细评价" ? "简要评价" : "详细评价");
            });

            $(document).ready(function(){
                   initStartPoint();
                   initEvaluationContainer();
            });

            function initStartPoint() {
                   $('.star').raty({ score: function() { return $(this).attr("data-score");}, readOnly: function() { return $(this).attr("data-readOnly") == "true";}, scoreName: 'evaluation.point', starOn: "../source/image/star-on.png", starOff: "../source/image/star-off.png"});
            }

            function initEvaluationContainer() {
                   var type = $("#evalType").attr("value");
                   if (type == 1) {
                        detailEvalContainer.show();
                        extendEvaluationButton.text("详细评价");
                   } else {
                        detailEvalContainer.hide();
                        extendEvaluationButton.text("简要评价");
                   }
            }

            function getFormData($form){
                var unindexed_array = $form.serializeArray();
                var indexed_array = {};

                $.map(unindexed_array, function(n, i){
                    indexed_array[n['name']] = n['value'];
                });

                return indexed_array;
            }
        </script>
    </div>
</div>
<footer>
    <a class="pull-right" href="#"><span class="glyphicon glyphicon-arrow-up"></span>返回顶部</a>
</footer>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">选择附件上传</h4>
            </div>
            
            <div class="modal-body">
              <iframe width="99.6%" name="myiframe" id="myiframe" frameborder=0 src="../document/findAttachments?docId=${document.id}"></iframe>
                <form class="form-inline" role="form" method="POST"
                      action="../document/upload" enctype="multipart/form-data" target="myiframe">
                      <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <select class="form-control"  name="attachmentType">
                                    <option selected>论文</option>
                                    <option>代码</option>
                                    <option>演示</option>
                                    <option>视频</option>
                                </select>
                                <input type="hidden" name="documentId" value=${document.id}>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="file" class="form-control"  name="upload">
                            </div>
                        </div>
                        

                        <div class="col-xs-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">上传文件</button>
                            </div>
                        </div>
                    </div>
                  
                </form>
            </div>
            </div>
        </div>
    
    </div>
    </div>
    </body>
</html>