<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>文献管理系统</title>
    <!-- Le styles -->
    <link href="../source/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../source/static/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

  </head>
    <body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/user/normal/index"><span class="glyphicon glyphicon-home"></span>&nbsp;文献管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/user/normal/index"><span class="glyphicon glyphicon-list"></span>&nbsp;文献列表</a></li>
            <li><a href="/doc/normal/addDoc"><span class="glyphicon glyphicon-import"></span>&nbsp;文献录入</a></li>
            <li><a href=""><span class="glyphicon glyphicon-stats"></span>&nbsp;工作记录统计</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a><span class="glyphicon glyphicon-user"></span>&nbsp;${user.name}</a>
            </li>
            <li>
              <a href="/"><span class="glyphicon glyphicon-log-out"></span>&nbsp;注销</a>
            </li>
            <li>
              <a href="/user/normal/updateInfo/${user.id}"><span class="glyphicon glyphicon-edit"></span>&nbsp;修改密码</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

      <div class="container">
        <div class="row">
          <br/>
            <div class="col-xs-1"></div>
            <div class="col-xs-2">
              <img class="pull-left" src="../source/image/logo.jpg" />
            </div>
            
            <div class="col-xs-8">
            <form class="well form-search"><br/>
              <div class="input-group"><input type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;<strong>搜索文章</strong></button>
                </span>
              </div><!-- /input-group -->
            </form>
            </div>
        </div>
        
        <div class="row">
          <div class="col-xs-1"></div>
              
          <div class="col-xs-10" style="background-color:#CCEEFF;">
            <h2 style="background-color:#58D3F7;text-align:center;"><hr/>
            文献列表<hr/></h2>

          <#list documents as document>
          
            <div class="well">
              <h4><a href="/doc/normal/getDoc/${document.id}"><span class="label label-info">${document.title}</span></a>
                <button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;
              论文下载
              </button>
              </h4>
              <p><strong>作者：${document.author}</strong></p>
              <blockquote class="well"><span class="label label-success">摘要：</span>${document.abstracts}</blockquote>
            </div>

          </#list>

            <ul class="pager">
              <li><a href="#">&larr;&nbsp;&nbsp;上一页</a></li>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li><a href="#">下一页&nbsp;&nbsp;&rarr;</a></li>
            </ul>

          </div>
        </div>
        <footer>
          <a class="pull-right" href="#"><span class="glyphicon glyphicon-arrow-up"></span>返回顶部</a>
        </footer>
      </div>

  </body>
</html>