<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>文献管理系统</title>
    <!-- Le styles -->
    <link href="../source/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../source/static/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <script src="../source/static/bootstrap/js/jquery-1.10.2.min.js"></script>
    <script src="../source/static/bootstrap/js/bootstrap.js"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

  </head>
    <body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/user/normal/index"><span class="glyphicon glyphicon-home"></span>&nbsp;文献管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/user/normal/index"><span class="glyphicon glyphicon-list"></span>&nbsp;文献列表</a></li>
            <li><a href="/document/showupload"><span class="glyphicon glyphicon-import"></span>&nbsp;文献录入</a></li>
            <li><a href=""><span class="glyphicon glyphicon-stats"></span>&nbsp;工作记录统计</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a><span class="glyphicon glyphicon-user"></span>&nbsp;${user.name}</a>
            </li>
            <li>
              <a href="/"><span class="glyphicon glyphicon-log-out"></span>&nbsp;注销</a>
            </li>
            <li>
              <a href="/user/normal/updateInfo/${user.id}"><span class="glyphicon glyphicon-edit"></span>&nbsp;修改密码</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

      <div class="container">
        <div class="row">
          <br/>
            <div class="col-xs-1"></div>
            <div class="col-xs-2">
              <img class="pull-left" src="../source/image/logo.jpg" />
            </div>
            
            <div class="col-xs-8">
            <form class="well form-search" method="POST" action="simpledocsearch/getdoclist"><br/>
              <div class="input-group"><input type="text" class="form-control" name="keywords">
                <span class="input-group-btn">
                  <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;<strong>搜索文章</strong></button>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <!-- Button trigger modal -->
                  <button class="btn btn-info" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;&nbsp;<strong>展开高级搜索</strong></button>
                </span>
                </div><!-- /input-group --> 
            </form>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">文章高级搜索</h4>
                        </div>
                        
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" method="POST" action="advanceddocsearch/getdoclist">
                                <div class="form-group">
                                    <label for="document" class="col-sm-4 control-label">查找的文献类型</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="documentType">
                                            <option value="0">请选择文献类型...</option>
                                            <option value="1">图书</option>
                                            <option value="2">图书章节</option>
                                            <option value="3">期刊</option>
                                            <option value="4">会议</option>
                                            <option value="5">学位论文</option>
                                            <option value="6">技术报告</option>
                                            <option value="7">在线资源</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="document" class="col-sm-4 control-label">文章的标题</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="title">
                                    </div>
                                </div>
  
                                <div class="form-group">
                                    <label for="other" class="col-sm-4 control-label">文章的作者</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="author">
                                    </div>
                                </div>

                              <div class="form-group">
                                <label for="presentation" class="col-sm-4 control-label">文章的标签信息</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="tag">
                                </div>
                              </div>
  
                              <div class="form-group">
                                <label for="ppt" class="col-sm-4 control-label">搜索的关键字</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="keywords">
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="poster" class="col-sm-4 control-label">出版社信息</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="publisher">
                                </div>
                              </div>
              
                              <div class="form-group">
                                <label for="code" class="col-sm-4 control-label">文章发表的时间</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="publishYear">
                                </div>
                              </div>

                            </form>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消搜索</button>
                            <button type="submit" class="btn btn-primary">搜索文章</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            </div>
        </div>
        
        <div class="row">
          <div class="col-xs-1"></div>
              
          <div class="col-xs-10" style="background-color:#CCEEFF;">
            <h2 style="background-color:#58D3F7;text-align:center;"><hr/>
            文献列表<hr/></h2>

          <#list documents as document>
            <div class="well">
              <h4><a href="/document/showdoc?docId=${document.id}"><span class="label label-info">${document.title}</span></a>
                <button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;
              论文下载
              </button>
              </h4>
              <p><strong>作者：${document.author}</strong></p>
              <blockquote class="well"><span class="label label-success">摘要：</span>${document.abstracts}</blockquote>
            </div>

          </#list>

            <ul class="pager">
              <li><a href="#">&larr;&nbsp;&nbsp;上一页</a></li>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li><a href="#">下一页&nbsp;&nbsp;&rarr;</a></li>
            </ul>

          </div>
        </div>
        <footer>
          <a class="pull-right" href="#"><span class="glyphicon glyphicon-arrow-up"></span>返回顶部</a>
        </footer>
      </div>

  </body>
</html>