<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>文献管理系统</title>
    <!-- Le styles -->
      <link href="../source/static/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="../source/static/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
      <script src="../source/static/bootstrap/js/jquery-1.10.2.min.js"></script>
      <script src="../source/static/bootstrap/js/bootstrap.js"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .bread-nav{
        font-size: 20px;
      }

      .discription{
          padding-left: 20px;
          padding-right: 50px;
      }
      .addition{
          background: #eeeeee;
      }
    </style>
    <script type="text/javascript">
        function choose(s){
        	 $.ajax({
                type: "GET",
                url: "../document/getextraproperties",
                data: {documentTypeId: s,docId:${document.id}}
            })
                    .done(function (msg) {
                        $("#extraproperty").html(msg);
                    });
            }
        function fill(){
        	var div=document.getElementById("extraproperty");
        	
        }
        window.onload=function init(){
        	$("select[name=documentTypeId]").val("${document.documentType.id}");
        	choose(${document.documentType.id});
        }
    </script>
    </style>

  </head>
    <body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../account/getAllDocuments"><span class="glyphicon glyphicon-home"></span>&nbsp;文献管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="../account/getAllDocuments"><span class="glyphicon glyphicon-list"></span>&nbsp;文献列表</a></li>
            <li><a href="../document/showupload"><span class="glyphicon glyphicon-import"></span>&nbsp;文献录入</a></li>
            <li><a href="../statistic/getstatistic"><span class="glyphicon glyphicon-stats"></span>&nbsp;工作记录统计</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a><span class="glyphicon glyphicon-user"></span>&nbsp;${user.name}</a>
            </li>
            <li>
              <a href="../account/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;注销</a>
            </li>
            <li>
              <a href="../account/showPassword"><span class="glyphicon glyphicon-edit"></span>&nbsp;修改密码</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      </div>


      <div class="container">
        <div class="row">
          <br/>
            <div class="col-xs-1"></div>
            <div class="col-xs-2">
              <img class="pull-left" src="../source/image/logo.jpg" /></div>
            <div class="col-xs-8">

            <form class="well form-search" method="POST" action="../docsearch/simpledocsearch"><br/>
              <div class="input-group"><input type="text" class="form-control" name="keywords">
                <span class="input-group-btn">
                  <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;<strong>搜索文章</strong></button>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <!-- Button trigger modal -->
                  <button class="btn btn-info" data-toggle="modal" data-target="#docsearchModal"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;&nbsp;<strong>展开高级搜索</strong></button>
                </span>
                </div><!-- /input-group --> 
            </form>

            <!-- Modal -->
            <div class="modal fade" id="docsearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">文章高级搜索</h4>
                        </div>
                        
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" method="POST" action="../docsearch/advanceddocsearch">
                                <div class="form-group">
                                    <label for="document" class="col-sm-4 control-label">查找的文献类型</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="documentType">
                                            <option>请选择文献类型...</option>
                    
                                            <#list documentTypes as documentType>         
                                                <option value=${documentType.id}>${documentType.name}</option>
                                            </#list>
                                            
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="document" class="col-sm-4 control-label">文章的标题</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="title">
                                    </div>
                                </div>
  
                                <div class="form-group">
                                    <label for="other" class="col-sm-4 control-label">文章的作者</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="author">
                                    </div>
                                </div>

                              <div class="form-group">
                                <label for="presentation" class="col-sm-4 control-label">文章的标签信息</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="tag">
                                </div>
                              </div>
  
                              <div class="form-group">
                                <label for="ppt" class="col-sm-4 control-label">搜索的关键字</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="keywords">
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="poster" class="col-sm-4 control-label">出版社信息</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="publisher">
                                </div>
                              </div>
              
                              <div class="form-group">
                                <label for="code" class="col-sm-4 control-label">文章发表的时间</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="publishYear">
                                </div>
                              </div>
 
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">取消搜索</button>
								<button type="submit" class="btn btn-primary">搜索文章</button>
							</div>
                            
							</form>
                        </div>
                       
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            </div>
        </div>

        <div class="row">
		      <div class="col-xs-1"></div>
          <div class="col-xs-10 well" style="background-color:#CCEEFF;">
            <h2 style="background-color:#58D3F7;text-align:center;"><hr/>
            编辑文献资料<hr/></h2>


            <form class="form-horizontal well" role="form" method="POST" action="../document/commitmodification">

              <div class="form-group discription">
                <label for="type" class="col-sm-2 control-label">文献类型 *</label>
                <div class="col-sm-9">
                  <select class="form-control" name="documentTypeId" onchange="choose(this.options[this.options.selectedIndex].value)">
                    <#list documentTypes as documentType>         
                    <option value=${documentType.id}>${documentType.name}</option>
                    </#list>
                  </select>
                </div>
              </div>

              <div class="form-group discription">
                <label for=" author" class="col-sm-2 control-label">标签 *</label>
                <div class="col-sm-9">
                    <div class="well">
                      
                    <#list document.tags as tag>
                    
                      <span class="label label-success">${tag.name}&nbsp;</span>
                      <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                      &nbsp;&nbsp;&nbsp;&nbsp;

                    </#list>
                      
                      <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#tagModal"><span class="glyphicon glyphicon-plus"></span></button>
                      <br />
                    </div>

                </div>
              </div>
            
              <div class="form-group discription">
                <label for="author" class="col-sm-2 control-label">作者 *</label>
                <div class="col-sm-9">
                	<input type="hidden" name="document.id" value=${document.id}></input>
                	<input type="hidden" name="document.title" value=${document.title}></input>
                  <input type="text" class="form-control" name="document.author" value=${document.author}></input>
                </div>
              </div>
                  
              <div class="form-group discription">
                <label for="year" class="col-sm-2 control-label">出版年份 *</label>
                <div class="col-sm-9">
                   <input type="text" class="form-control" name="document.year" value=${document.year}>
                </div>
              </div>
              
              <div class="form-group discription">
                <label for="pages" class="col-sm-2 control-label">页码 *</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="document.pages" value=${document.pages}>
                </div>
              </div>
              
              <div class="form-group discription">
                <label for="abstracts" class="col-sm-2 control-label">摘要 *</label>
                <div class="col-sm-9">
                    <textarea class="form-control" name="document.abstracts" rows="5">${document.abstracts}</textarea>
                </div>
              </div>
              
              <div class="form-group discription">
                <label for="keyword" class="col-sm-2 control-label">关键字 *</label>
                <div class="col-sm-9">
                   <textarea class="form-control" name="document.keywords" rows="3">${document.keywords}
                   </textarea>
                </div>
              </div>
     
              <div class="form-group discription">
                 <label for="publisher" class="col-sm-2 control-label">出版社 *</label>
                 <div class="col-sm-9">
                   <input type="text" class="form-control" name="document.publisher" value=${document.publisher}>
                 </div>
              </div>
       
              <div class="form-group discription">
                <label for="url" class="col-sm-2 control-label">在线的网址 *</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="document.url" value=${document.url}>
                </div>
              </div>

              <div class="discription addition" id="extraproperty"></div>
              
              <div class="row">
                <div class="col-xs-5"></div>
                <div class=" col-xs-7">
                  <button type="button" class="btn btn-default">取消修改</button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="submit" class="btn btn-primary">保存修改</button>
                </div>
              </div>
    
            </form>
          </div>
        </div>
        
        <footer>
          <a class="pull-right" href="#"><span class="glyphicon glyphicon-arrow-up"></span>返回顶部</a>
        </footer>  
        
        </div>

        <div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新建一个标签</h4>
              </div>
              <div class="modal-body">

                <form class="form-horizontal" role="form" method="POST" action="../tag/newtag">
                  <div class="form-group">
                    <div class="col-xs-2"></div>
                      <div class="col-sm-8">
                        <input type="hidden" name="documentId" value=${document.id}></input>
                        <input type="text" class="form-control" name="tagname" placeholder="标签名称...">
                      </div>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消新建</button>
                    <button type="submit" class="btn btn-primary">新建标签</button>
                  </div>
                  
                </form>

              </div>
              
            </div>
          </div>
        </div>

  </body>
</html>