<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>文献管理系统</title>
    <!-- Le styles -->
    <link href="../source/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../source/static/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <script src="../source/static/bootstrap/js/jquery-1.10.2.min.js"></script>
    <script src="../source/static/bootstrap/js/bootstrap.js"></script>
  	<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <script type="text/javascript">

      function refreshTable(){
        var timeSelect = document.getElementById("time-select");
        var statisticDiv = document.getElementById("statistic-div");
        var time = timeSelect.options[timeSelect.selectedIndex].value;

        var statisticWeek = "<table class=\"table table-hover table-bordered\"><thead align=\"center\"><td>小组成员</td><td>文献录入</td><td>上传附件</td>
        <td>发表简单评论</td><td>发表详细评论</td></thead>
                        <#list statisticListWeek as statistic> 
                          <tr align=\"center\">
                              <td>${statistic.username}</td>
                              <td>${statistic.docimport}</td>
                              <td>${statistic.uploadattachment}</td>
                              <td>${statistic.simplecomment}</td>
                              <td>${statistic.detailedcomment}</td>
                          </tr>
                        </#list>
                    </table>";
        var statisticMonth = "<table class=\"table table-hover table-bordered\"><thead align=\"center\"><td>小组成员</td><td>文献录入</td><td>上传附件</td>
        <td>发表简单评论</td><td>发表详细评论</td></thead>
                        <#list statisticListMonth as statistic> 
                          <tr align=\"center\">
                              <td>${statistic.username}</td>
                              <td>${statistic.docimport}</td>
                              <td>${statistic.uploadattachment}</td>
                              <td>${statistic.simplecomment}</td>
                              <td>${statistic.detailedcomment}</td>
                          </tr>
                        </#list>
                    </table>";
        var statisticYear = "<table class=\"table table-hover table-bordered\"><thead align=\"center\"><td>小组成员</td><td>文献录入</td><td>上传附件</td>
        <td>发表简单评论</td><td>发表详细评论</td></thead>
                        <#list statisticListYear as statistic> 
                          <tr align=\"center\">
                              <td>${statistic.username}</td>
                              <td>${statistic.docimport}</td>
                              <td>${statistic.uploadattachment}</td>
                              <td>${statistic.simplecomment}</td>
                              <td>${statistic.detailedcomment}</td>
                          </tr>
                        </#list>
                    </table>";
        
        if(time==1){
          statisticDiv.innerHTML = statisticWeek;
        }
        if(time==2){
          statisticDiv.innerHTML = statisticMonth;
        }
        if(time==3){
          statisticDiv.innerHTML = statisticYear;
        }
      };

    </script>
  
  </head>
    <body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../account/getAllDocuments"><span class="glyphicon glyphicon-home"></span>&nbsp;文献管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="../account/getAllDocuments"><span class="glyphicon glyphicon-list"></span>&nbsp;文献列表</a></li>
            <li><a href="../document/showupload"><span class="glyphicon glyphicon-import"></span>&nbsp;文献录入</a></li>
            <li class="active"><a href="../statistic/getstatistic"><span class="glyphicon glyphicon-stats"></span>&nbsp;工作记录统计</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a><span class="glyphicon glyphicon-user"></span>&nbsp;${user.name}</a>
            </li>
            <li>
              <a href="../account/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;注销</a>
            </li>
            <li>
              <a href="../account/showPassword"><span class="glyphicon glyphicon-edit"></span>&nbsp;修改密码</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

      <div class="container">
        <div class="row">
          <br/>
            <div class="col-xs-1"></div>
            <div class="col-xs-2">
              <img class="pull-left" src="../source/image/logo.jpg" />
            </div>
            
            <div class="col-xs-8">
            <form class="well form-search" method="POST" action="../docsearch/simpledocsearch"><br/>
              <div class="input-group"><input type="text" class="form-control" name="keywords">
                <span class="input-group-btn">
                  <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;<strong>搜索文章</strong></button>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <!-- Button trigger modal -->
                  <button class="btn btn-info" data-toggle="modal" data-target="#docsearchModal"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;&nbsp;<strong>展开高级搜索</strong></button>
                </span>
                </div><!-- /input-group --> 
            </form>

            <!-- Modal -->
            <div class="modal fade" id="docsearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">文章高级搜索</h4>
                        </div>
                        
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" method="POST" action="../docsearch/advanceddocsearch">
                                <div class="form-group">
                                    <label for="document" class="col-sm-4 control-label">查找的文献类型</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="documentType">
                                            <option>请选择文献类型...</option>
                    
                                            <#list documentTypes as documentType>         
                                                <option value=${documentType.id}>${documentType.name}</option>
                                            </#list>
                                            
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="document" class="col-sm-4 control-label">文章的标题</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="title">
                                    </div>
                                </div>
  
                                <div class="form-group">
                                    <label for="other" class="col-sm-4 control-label">文章的作者</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="author">
                                    </div>
                                </div>

                              <div class="form-group">
                                <label for="presentation" class="col-sm-4 control-label">文章的标签信息</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="tag">
                                </div>
                              </div>
  
                              <div class="form-group">
                                <label for="ppt" class="col-sm-4 control-label">搜索的关键字</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="keywords">
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="poster" class="col-sm-4 control-label">出版社信息</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="publisher">
                                </div>
                              </div>
              
                              <div class="form-group">
                                <label for="code" class="col-sm-4 control-label">文章发表的时间</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="publishYear">
                                </div>
                              </div>
							  
              							  <div class="modal-footer">
              									<button type="button" class="btn btn-default" data-dismiss="modal">取消搜索</button>
              									<button type="submit" class="btn btn-primary">搜索文章</button>
              								</div>

                            </form>
                        </div>
                        
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            </div>
        </div>
        
        <div class="row">
          <div class="col-xs-1"></div>
              
          <div class="col-xs-10" style="background-color:#CCEEFF;">
            <h2 style="background-color:#58D3F7;text-align:center;"><hr/>
            工作记录统计<hr/></h2>
			<div class="row well">
				<div class="col-xs-3">
					<select class="form-control selectpicker" name="time" onchange="refreshTable()" id="time-select">
                                            <option value="1">最近一周</option>
                                            <option value="2">最近一月</option>
                                            <option value="3">最近一年</option>
                    </select>
					<br/>
                    <form class="form-search" method="POST" action="../statistic/generatestatistic">
                        
                        <h4>指定时间范围：</h4>
                        起始时间<input type="text" class="form-control" name="fromDate" placeholder="yyyy-mm-dd">
                        <br/>
                        结束时间<input type="text" class="form-control" name="toDate" placeholder="yyyy-mm-dd">
                        <br/>

                        <button type="submit" class="btn btn-primary">确认提交</button>
                    </form>
				</div>

				<div class="col-xs-9" id="statistic-div">
					<table class="table table-hover table-bordered">
                        
                        <thead align="center">
                            <td >
                                小组成员
                            </td>
                            <td>
                                文献录入
                            </td>
                            <td>
                                上传附件
                            </td>
                            <td>
                                发表简单评论
                            </td>
                            <td>
                                发表详细评论
                            </td>
                        </thead>

                        <#list statisticList as statistic> 
                        <tr align="center">
                            <td>${statistic.username}</td>
                            <td>${statistic.docimport}</td>
                            <td>${statistic.uploadattachment}</td>
                            <td>${statistic.simplecomment}</td>
                            <td>${statistic.detailedcomment}</td>
                        </tr>
                        </#list>

          </table>
				</div>
			</div>
          </div>
        </div>
        <footer>
          <a class="pull-right" href="#"><span class="glyphicon glyphicon-arrow-up"></span>返回顶部</a>
        </footer>
      </div>

  </body>
</html>