<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>文献管理系统</title>
    <!-- Le styles -->
    <link href="../source/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../source/static/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <script src="../source/static/bootstrap/js/jquery-1.10.2.min.js"></script>
    <script src="../source/static/bootstrap/js/bootstrap.js"></script>
	<script src="../source/static/Highcharts-2.3.3/js/highcharts.js"></script>
	<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
	
	<script type="text/javascript">

      $(function () {
        $(document).ready(function(){
          loadChartWithoutOthers();
        });
      });

      function refreshGraph(){
        var timeSelect = document.getElementById("time-select");
        var operationSelect = document.getElementById("operation-select");
        var userSelect = document.getElementById("user-select");
        var time = timeSelect.options[timeSelect.selectedIndex].text;
        var operation = operationSelect.options[operationSelect.selectedIndex].text;
        var user = userSelect.options[userSelect.selectedIndex].text;
        
		if(user=="平均"){
			loadChartWithoutOthers();
		}else{
			loadChartWithOthers();
		}
      };

      function loadChartWithoutOthers() {
		
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'statistic-graph',   
                zoomType: 'xy',
                marginLeft: 80,
                marginRight: 80
            },
            title: {
                text: '工作记录统计'
            },
            xAxis: {
              categories: ['Seventh','Sixth','Fifth','Forth','Third','Second','First']
            },
            yAxis: {
                labels: {
                    formatter: function() {
                        return this.value;
                    },
                    style: {
                        color: '#4572A7'
                    }
                },
                title: {
                    text: "统计",
                    style: {
                        color: '#4572A7'
                    }
                }
            },
            tooltip: {
                formatter: function() {
                    var s;
                    if (this.point.name) { // the pie chart
                        s = ''+
                            this.point.name +': '+ this.y;
                    } else {
                        s = ''+
                            this.x  +': '+ this.y;
                    }
                    return s;
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
			labels: {
                items: [{
                    html: '整体工作情况',
                    style: {
                        left: '45px',
                        top: '-10px',
                        color: 'black'
                    }
                }]
            },
            series: [{
                type: 'column',
                name: '我的记录',
                data: [6, 7, 4, 3, 3, 9, 10]
            }, {
                type: 'spline',
                name: '平均值',
                data: [3, 4.5, 8,  2.67, 3, 6.33, 3.33],
                marker: {
                  lineWidth: 2,
                  lineColor: Highcharts.getOptions().colors[3],
                  fillColor: 'white'
                }
            }, {
                type: 'pie',
                name: 'Total consumption',
                data: [
                  ['文献录入',34],
                  ['上传附件', 45],
                  ['发表简单评论', 12],
                  ['发表详细评论', 13]
                ],
                center: [80, 60],
                size: 100,
                showInLegend: false,
                dataLabels: {
                    enabled: false
                }
            }]
        });
    }

    function loadChartWithOthers() {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'statistic-graph',
                
                zoomType: 'xy',
                marginLeft: 80,
                marginRight: 80
            },
            title: {
                text: '工作记录统计'
            },
            xAxis: {
              categories: ['Seventh','Sixth','Fifth','Forth','Third','Second','First']
            },
            yAxis: {
                labels: {
                    formatter: function() {
                        return this.value;
                    },
                    style: {
                        color: '#4572A7'
                    }
                },
                title: {
                    text: "统计",
                    style: {
                        color: '#4572A7'
                    }
                }
            },
            tooltip: {
                formatter: function() {
                    var s;
                    if (this.point.name) { // the pie chart
                        s = ''+
                            this.point.name +': '+ this.y;
                    } else {
                        s = ''+
                            this.x  +': '+ this.y;
                    }
                    return s;
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
			labels: {
                items: [{
                    html: '整体工作情况',
                    style: {
                        left: '45px',
                        top: '-10px',
                        color: 'black'
                    }
                }]
            },
            series: [{
                type: 'column',
                name: 'bryant',
                data: [6, 7, 4, 3, 3, 9, 10]
            },
            {
                type: 'column',
                name: 'justin',
                data: [4, 8, 7, 2, 1, 13, 20]
            }, {
                type: 'spline',
                name: 'Average',
                data: [3, 4.5, 8,  2.67, 3, 6.33, 3.33],
                marker: {
                  lineWidth: 2,
                  lineColor: Highcharts.getOptions().colors[3],
                  fillColor: 'white'
                }
            }, {
                type: 'pie',
                name: 'Total consumption',
                data: [
                  ['文献录入',34],
                  ['上传附件', 45],
                  ['发表简单评论', 12],
                  ['发表详细评论', 13]
                ],
                center: [80, 60],
                size: 100,
                showInLegend: false,
                dataLabels: {
                    enabled: false
                }
            }]
        });
    }
    </script>

  </head>
    <body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/user/normal/index"><span class="glyphicon glyphicon-home"></span>&nbsp;文献管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/user/normal/index"><span class="glyphicon glyphicon-list"></span>&nbsp;文献列表</a></li>
            <li><a href="/doc/normal/addDoc"><span class="glyphicon glyphicon-import"></span>&nbsp;文献录入</a></li>
            <li><a href=""><span class="glyphicon glyphicon-stats"></span>&nbsp;工作记录统计</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a><span class="glyphicon glyphicon-user"></span>&nbsp;${user.name}</a>
            </li>
            <li>
              <a href="/"><span class="glyphicon glyphicon-log-out"></span>&nbsp;注销</a>
            </li>
            <li>
              <a href="/user/normal/updateInfo/${user.id}"><span class="glyphicon glyphicon-edit"></span>&nbsp;修改密码</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

      <div class="container">
        <div class="row">
          <br/>
            <div class="col-xs-1"></div>
            <div class="col-xs-2">
              <img class="pull-left" src="../source/image/logo.jpg" />
            </div>
            
            <div class="col-xs-8">
            <form class="well form-search"><br/>
              <div class="input-group"><input type="text" class="form-control" name="keywords">
                <span class="input-group-btn">
                  <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;<strong>搜索文章</strong></button>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <!-- Button trigger modal -->
                  <button class="btn btn-info" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;&nbsp;<strong>展开高级搜索</strong></button>
                </span>
                </div><!-- /input-group --> 
            </form>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">文章高级搜索</h4>
                        </div>
                        
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" method="POST" action="/doc/normal/addAttachment/${document.id}">
                                <div class="form-group">
                                    <label for="document" class="col-sm-4 control-label">查找的文献类型</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="documentType">
                                            <option value="0">请选择文献类型...</option>
                                            <option value="1">图书</option>
                                            <option value="2">图书章节</option>
                                            <option value="3">期刊</option>
                                            <option value="4">会议</option>
                                            <option value="5">学位论文</option>
                                            <option value="6">技术报告</option>
                                            <option value="7">在线资源</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="document" class="col-sm-4 control-label">文章的标题</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="title">
                                    </div>
                                </div>
  
                                <div class="form-group">
                                    <label for="other" class="col-sm-4 control-label">文章的作者</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="author">
                                    </div>
                                </div>

                              <div class="form-group">
                                <label for="presentation" class="col-sm-4 control-label">文章的标签信息</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="tag">
                                </div>
                              </div>
  
                              <div class="form-group">
                                <label for="ppt" class="col-sm-4 control-label">搜索的关键字</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="keywords">
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="poster" class="col-sm-4 control-label">出版社信息</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="publisher">
                                </div>
                              </div>
              
                              <div class="form-group">
                                <label for="code" class="col-sm-4 control-label">文章发表的时间</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="publishYear">
                                </div>
                              </div>

                            </form>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消搜索</button>
                            <button type="submit" class="btn btn-primary">搜索文章</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            </div>
        </div>
        
        <div class="row">
          <div class="col-xs-1"></div>
              
          <div class="col-xs-10" style="background-color:#CCEEFF;">
            <h2 style="background-color:#58D3F7;text-align:center;"><hr/>
            工作记录统计<hr/></h2>
			<div class="row well">
				<div class="col-xs-3">
					<select class="form-control selectpicker" name="time" onchange="refreshGraph()" id="time-select">
                                            <option value="1">每周</option>
                                            <option value="2">每月</option>
                                            <option value="3">每年</option>
                    </select>
					<br/>
					<select class="form-control selectpicker" name="operationType" onchange="refreshGraph()" id="operation-select">
                                            <option value="1">文献录入</option>
                                            <option value="2">上传附件</option>
                                            <option value="3">发表简单评论</option>
                                            <option value="4">发表详细评论</option>
                    </select>
                    <br/>
          <select class="form-control selectpicker" name="user" onchange="refreshGraph()" id="user-select">
                                            <option value="1">平均</option>
                                            <option value="2">王子宁</option>
                                            <option value="3">杨宜杰</option>
                                            <option value="4">张仁涛</option>
                    </select>
				</div>
				<div class="col-xs-9">
					<div id="statistic-graph"></div>
				</div>
			</div>
          </div>
        </div>
        <footer>
          <a class="pull-right" href="#"><span class="glyphicon glyphicon-arrow-up"></span>返回顶部</a>
        </footer>
      </div>

  </body>
</html>