<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:annotation-config />
	
	<context:component-scan base-package="dmsystem" />

	<tx:annotation-driven />

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/mydb?useUnicode=true&amp;characterEncoding=UTF-8" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="dmsystem.entity"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.connection.pool_size">1</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="session" class="org.springframework.orm.hibernate3.SessionFactoryUtils" factory-method="getSession" scope="prototype">
        <constructor-arg ref="sessionFactory" />
        <constructor-arg value="false" />
    </bean>

    <!-- Hibernate -->
    <bean id="hibernateUtil" class="dmsystem.util.HibernateUtil">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- Actions -->
    <bean id="loginAction" class="dmsystem.action.LoginAction" scope="prototype">
        <property name="userService" ref="userService" />
    </bean>

    <bean id="userAction" class="dmsystem.action.UserAction" scope="prototype">
        <property name="documentService" ref="documentService" />
        <property name="userService" ref="userService" />
    </bean>
    
    <bean id="userManageAction" class="dmsystem.action.UserManageAction" scope="prototype">
    	<property name="userService" ref="userService" />
    </bean>

	<bean id="docconfAction" class="dmsystem.action.DocconfAction" scope="prototype">
		<property name="userService" ref="userService" />
		<property name="documentTypeService" ref="documentTypeService" />
	</bean>

	<bean id="advancedDocSearchAction" class="dmsystem.action.AdvancedDocSearchAction"
		scope="prototype">
		<property name="docSearchService" ref="docSearchService" />
	</bean>

    <bean id="attachmentAction" class="dmsystem.action.AttachmentAction">
        <property name="attachmentService" ref="attachmentService" />
    </bean>

    <bean id="documentAction" class="dmsystem.action.DocumentAction">
        <property name="documentService" ref="documentService" />
    </bean>

    <bean id="documentUploadAction" class="dmsystem.action.DocumentUploadAction">
        <property name="documentService" ref="documentService" />
        <property name="documentTypeService" ref="documentTypeService" />
    </bean>

	<bean id="simpleDocSearchAction" class="dmsystem.action.SimpleDocSearchAction"
		scope="prototype">
		<property name="docSearchService" ref="docSearchService" />
	</bean>
	
	<bean id="comconfAction" class="dmsystem.action.ComconfAction" scope="prototype">
		<property name="commentConfService" ref="commentConfService"></property>
	</bean>
	
	<bean id="refconfAction" class="dmsystem.action.RefconfAction" scope="prototype">
		<property name="referenceConfService" ref="referenceConfService"></property>
	</bean>
	
    <!-- Account Services -->
    <bean id="evaluationAction" class="dmsystem.action.EvaluationAction">
        <property name="evaluationService" ref="evaluationService" />
    </bean>

    <!-- Services -->
    <bean id="userService" class="dmsystem.service.UserServiceImpl">
        <property name="userDao" ref="userDao" />
    </bean>

    <bean id="documentService" class="dmsystem.service.DocumentServiceImpl">
        <property name="documentDao" ref="documentDao" />
        <property name="documentTypeDao" ref="documentTypeDao" />
        <property name="documentExtraPropertyDao" ref="documentExtraPropertyDao" />
        <property name="documentWithExtraPropertyDao" ref="documentWithExtraPropertyDao" />
    </bean>

    <bean id="documentTypeService" class="dmsystem.service.DocumentTypeServiceImpl">
    	<property name="documentTypeDao" ref="documentTypeDao"></property>
    	<property name="documentExtraPropertyDao" ref="documentExtraPropertyDao"></property>
    </bean>

    <bean id="attachmentService" class="dmsystem.service.AttachmentServiceImpl">

    </bean>
    
    <bean id="commentConfService" class="dmsystem.service.CommentConfServiceImpl">
    	<property name="evaluationExtraPropertyDao" ref="evaluationExtraPropertyDao"></property>
    </bean>
    
    <bean id="referenceConfService" class="dmsystem.service.ReferenceConfServiceImpl">
    	<property name="relationTypeDao" ref="relationTypeDao"></property>
    </bean>

    <bean id="evaluationService" class="dmsystem.service.EvaluationServiceImpl">
        <property name="documentDao" ref="documentDao" />
        <property name="evaluationDao" ref="evaluationDao" />
        <property name="evaluationExtraPropertyDao" ref="evaluationExtraPropertyDao" />
        <property name="evaluationWithExtraPropertyDao" ref="evaluationWithExtraPropertyDao" />
    </bean>

    <bean id="docSearchService" class="dmsystem.service.DocSearchServiceImpl" >
        <property name="documentDao" ref="documentDao" />
    </bean>

    <!-- DAO -->
    <bean id="userDao" class="dmsystem.dao.UserDao">
        <property name="hibernateUtil" ref="hibernateUtil" />
    </bean>

    <bean id="documentDao" class="dmsystem.dao.DocumentDao">
        <property name="hibernateUtil" ref="hibernateUtil" />
        <property name="documentTypeDao" ref="documentTypeDao" />
        <property name="documentExtraPropertyDao" ref="documentExtraPropertyDao" />
        <property name="documentWithExtraPropertyDao" ref="documentWithExtraPropertyDao" />
    </bean>

    <bean id="documentTypeDao" class="dmsystem.dao.DocumentTypeDao">
        <property name="hibernateUtil" ref="hibernateUtil" />
    </bean>

    <bean id="documentExtraPropertyDao" class="dmsystem.dao.DocumentExtraPropertyDao">
        <property name="hibernateUtil" ref="hibernateUtil" />
    </bean>

    <bean id="documentWithExtraPropertyDao" class="dmsystem.dao.DocumentWithExtraPropertyDao">
        <property name="hibernateUtil" ref="hibernateUtil" />
    </bean>

    <bean id="evaluationDao" class="dmsystem.dao.EvaluationDao">
        <property name="hibernateUtil" ref="hibernateUtil" />
    </bean>

    <bean id="evaluationExtraPropertyDao" class="dmsystem.dao.EvaluationExtraPropertyDao">
        <property name="hibernateUtil" ref="hibernateUtil" />
    </bean>

    <bean id="evaluationWithExtraPropertyDao" class="dmsystem.dao.EvaluationWithExtraPropertyDao">
        <property name="hibernateUtil" ref="hibernateUtil" />
    </bean>
    
    <bean id="relationTypeDao" class="dmsystem.dao.RelationTypeDao">
    	<property name="hibernateUtil" ref="hibernateUtil"></property>
    </bean>
</beans>
